.formAlert {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--theme-primary);
  color: var(--theme-background);
  font-size: 10pt;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--theme-background);
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14pt;
}

.link > p {
  margin-left: -15px;
}

.link:hover {
  color: var(--theme-primary-light);
}

