input[type=number] {
  -webkit-appearance: none; 
  margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.input:focus {
    outline: none;
}

.timeInput {
    position: relative;
    width: fit-content;
}

.input {
    height: 46px;
    width: 140px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 90px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
}

.timeInput > label {
    position: absolute;
    top: -7px;
    left: 5px;
    padding-right: 5px;
    padding-left: 5px;

    font-size: 14px;
    background-color: white;
}

.timeInput > span {
    position: absolute;
    top: 12px;
    right: 10px;
    color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
}

.input:focus + span {
    color: black;
}