input[type=number] {
  margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.input:focus {
    outline: none;
}

.timeInput {
    position: relative;
    width: fit-content;
}

.input {
    height: 46px;
    width: 140px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 90px;
    border: 1px solid #9a0095;
    border-radius: 8px;
    font-size: 14px;
}

.timeInput > label {
    position: absolute;
    top: -10px;
    left: 15px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;

    font-size: 14px;
    background-color: white;
    color: #9a0095;
}

.timeInput > span {
    position: absolute;
    top: 14px;
    right: 10px;
    color: #9a0095;
    pointer-events: none;
}

.input:focus + span {
    color: #9a0095;
}