.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    width: 60%;
}

.container h1{
    font-size: 60px;
    font-weight: 400;
}

.container p{
    font-size: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.753);
}


.container em{
    font-weight: 500;
}