.form {
    position: relative;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filters {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    top: 90px;
}

.tags {
    width: 700px;
}
