.tagsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  offset: none;

  min-height: 36px;
  width: 100%;

}

.tag {
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9a0095;
  color: white;
  padding: 6px 8px 6px 20px;
  gap: 8px;
  font-size: 14px;
}

.remove {
  background: transparent;
  border: none;
  outline: none;
  offset: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  padding: 0px 8px;
}

.tagsContainer input {
  outline: none;
  border: none;
  background-color: white;
  line-height: 150%;
  color: black;
  font-size: 16px;
  padding: 14px 16px 6px 16px;
  width: 100%;

  border: 1px solid #9a0095;
  border-radius: 8px;
}

.tagsContainer label {
  position: absolute;
  left: 20px;
  top: 0%;
  transform: translateY(-50%);
  user-select: none;
  background-color: white;
  padding: 0 6px;
  color: #9a0095;
  pointer-events: none;
  font-size: 14px;
  border-radius: 10px;
  transition: all 0.15s ease;
}

.hint {
  color: black;
  opacity: 60%;
  font-size: 12px;
  margin: 8px 0px 0px 12px;
}

.hintHide {
  opacity: 0;
  font-size: 12px;
  margin: 8px 0px 0px 12px;
}