.tagsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  /* padding: 20px 16px 14px 16px; */
  font-size: 16px;
  outline: none;
  offset: none;

  min-height: 36px;
  width: 100%;

}

.tagsContainer:focus-within {
  border-color: var(--orange-500);
}

.tagsContainer:focus-within label {
  color: var(--orange-500);
}

.tag {
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--orange-500);
  color: black;
  padding: 6px 8px 6px 12px;
  gap: 8px;
  font-size: 14px;

  background-color: #F2F2F2;
  /* -webkit-box-shadow: 1px 3px 20px 2px rgba(0,0,0,0.5);  */
  box-shadow: 2px 3px 4px 1px rgba(0,0,0,0.5);
}

.remove {
  background: transparent;
  border: none;
  outline: none;
  offset: none;
  color: black;
  font-size: 25px;
  cursor: pointer;
  padding: 0px 8px;
}

.tagsContainer input {
  outline: none;
  border: none;
  background-color: white;
  line-height: 150%;
  color: black;
  font-size: 16px;
  padding: 14px 16px 6px 16px;
  width: 100%;

  border: 1px solid black;
  border-radius: 4px;
}

.tagsContainer label {
  position: absolute;
  left: 20px;
  top: 0%;
  transform: translateY(-50%);
  user-select: none;
  background-color: white;
  padding: 0 6px;
  color: var(--gray-300);
  pointer-events: none;
  font-size: 14px;
  border-radius: 10px;
  transition: all 0.15s ease;
}

.hint {
  color: var(--gray-500);
  font-size: 12px;
  margin: 8px 0px 0px 12px;
}
