
.button {
    outline: none;
    offset: none;
    border: none;

    display: flex;
    align-items: center;
    gap: 24px;

    background-color: var(--botoes-roxo-forte);
    border-radius: 4rem;
    padding: 12px 32px;

    cursor: pointer;

    color:var(--branco);

    transition: all .1s ease-in-out;
    height: 72px;
}

.button:hover {
    background-color: var(--roxo-hover);;
}

.button:active {
    background-color: (var(--roxo-hover));
}

.button p {
    font-size: 16px;
}

.button span {
    text-transform: capitalize;
}

.button .amazon {
    width: auto;
    height: 30px;
}