.button {
    outline: none;
    offset: none;
    border: none;

    display: flex;
    align-items: center;
    gap: 24px;

    background-color: var(--theme-background-alt);
    border-radius: 4rem;
    padding: 12px 32px;

    cursor: pointer;

    transition: all .1s ease-in-out;
    height: 72px;
}

.button:hover {
    background-color: var(--theme-border);
}

.button:active {
    background-color: var(--theme-accent);
}

.button p {
    font-size: 16px;
}

.button span {
    text-transform: capitalize;
}

.button .amazon {
    width: auto;
    height: 30px;
}
