.searchBar {
    position: relative;
    width: 100%;
    max-width: 640px;
    background: var(--theme-background);
    border: 1px solid var(--theme-primary);
    border-radius: 12px;
    padding: 16px 20px;
    transition: all 200ms ease-in-out;
}

.searchBar:focus-within {
    border-color: var(--theme-primary);
    box-shadow: 0 4px 10px var(--theme-primary)40;
}

/* Added flex container for input and button */
.searchContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.searchInput {
    flex: 1;
    height: 32px;
    border: none;
    color: var(--theme-text);
    font-size: 16px;
    padding: 0;
    outline: none;
}

.searchInput::placeholder {
    color: var(--theme-text-secondary);
    font-weight: 300;
}


.enterButton {
    padding: 14px 16px;
    background-color: var(--theme-primary);
    color: var(--theme-background);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    white-space: nowrap;
}

.enterButton:hover {
    background-color: var(--theme-accent);
}

.filterActions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--theme-primary);
}
