.playlistHeader {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.playlistTitle {
    color: var(--theme-primary);
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex: 1;
}

.playlistSubtitle{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.753);
}

.playlistTitle span {
    font-weight: 400;
    color: var(--theme-primary);
}

.cardsGrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.playlistEmpty {
    font-weight: 400;
    font-size: 20px;
    opacity: 60%;
}
