@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  --lilas-escuro: #9350ad;
  --lilas-playlists: #9c55bd;
  --fundo-principal:rgb(245, 230, 250);
  --fundo-secundario: rgb(234, 213, 241);
  --botoes-roxo-forte: #8a3dbb;
  --botoes-roxo-fraco: #e2bef8;
  --roxo-hover-escuro: #642792;
  --roxo-hover-claro: #c39ddb;
  --branco: #ffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  var(--fundo-principal);
}

.titleSearch{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}